.cache
.vscode-oss
.codex
.config
.local
.npm
.pki
.cargo
.gitconfig
.copilot
.vscode
package.json
package-lock.json
node_modules
*/target/
.mbuild/github/mirrors/
.mbuild/objects/
.mbuild/meta/
.mbuild/refs/
.mbuild/materialized/
.mbuild/github/internal.ncl
.mbuild/state.ncl
