.cache
.vscode-oss
.codex
.config
.local
.npm
.pki
.cargo
.gitconfig
.copilot
package.json
package-lock.json
node_modules
mbuild/target/
mbsrc/target/
mbbin/target/
.mbuild/github/mirrors/
.mbuild/materialized/
.mbuild/github/internal.ncl
.mbuild/state.ncl
